@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css");
@import url("https://unpkg.com/phosphor-icons@1.4.2/src/css/icons.css");

:root {
    --pmo-text-action: #2a2929;
    --pmo-accent-primary: rgba(8, 237, 245, 0.87);
    --pmo-icon-primary: rgb(195, 195, 204);
    --pmo-background-color: rgb(111, 111, 233);
    --pmo-text-white: #ffffff;
    --pmo-border: #f6f6f6;
    --pmo-text-whiteless: #fff;
    --pmo-star-color: rgb(237, 214, 8);
    --pmo-skyary-color: #def8fb;
    --pmo-blue-color: #1e91e2;
    --pmo-ccc-color: #ccc;
    --pmo-blue-less: #3ea4ed;
    --pmo-footer-color: #00022E;
    /* --pmo-secondary-color: #FFFFF3; */
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    font-family: "Be Veitnam Pro", sans-serif;
    line-height: 1.5;
    background: var(--pmo-secondary-color);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    padding: 30px 00;
}

.responsive-wrapper {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.header-content {
    display: flex;
    align-items: center;
}

@media(max-width: 1200px) {
    .header-content {
        justify-content: space-between;
    }

    .header-content > .header-link {
        display: inline-flex;
    }
}

.header-logo {
    margin-right: 6.5rem;
}

.header-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    gap: 10px;
}

.header-link i {
    font-size: 2rem;
    color: var(--pmo-blue-color);
}
/* 
.logo-img {
    overflow: hidden;
    height: 40px;
} */

.header-logo h1 {
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--pmo-text-white);
}

.header-navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;

}


@media(max-width: 768px) {

    .header-navigation-links {
        flex-direction: column;
    }

    .header-navigation-links .nav-a {
        text-align: center;
        width: 100%;
    }
}

.header-navigation-links {
    display: flex;
    align-items: center;
    gap: 35px;
}

.header-navigation-links .nav-a {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--pmo-text-white);
    text-decoration: none;
    transition: 0.15 ease;
}

.header-navigation-links .nav-a:hover {
    color: var(--pmo-accent-primary);
}

.header-navigation-actions {
    display: flex;
    align-items: center;
}

/* .header-navigation-actions > .login {
    margin-left: 1.5rem;
} */

.header-navigation-actions > .serch {
    margin-left: 1.2rem;
}

.header-navigation-actions .serch {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
}

@media(max-width: 991px) {
    .header-navigation-actions {
        flex-direction: column;
    }

    .header-navigation-actions input {
        display: none;
    }

    .header-navigation-actions a i {
        text-align: center;
        margin-bottom: 10px;
        display: flex;
    }
}

.serch input {
    background: none;
    outline: none;
    border: 1px solid var(--pmo-border);
    border-radius: 3px;
    height: 36px;
    width: 100%;
    cursor: pointer;
    caret-color: var(--pmo-text-white);
    color: var(--pmo-text-white);
    padding-left: 15px;
    font-size: 0.95rem;
    font-weight: 500;
}

.serch input::placeholder {
    color: var(--pmo-text-whiteless);
}

.serch i {
    font-size: 1.1rem;
    color: var(--pmo-border);
}

/* .login {
    background: none;
    outline: none;
    cursor: pointer;
    padding: 10px 18px;
    border: 2px solid var(--pmo-border);
    border-radius: 3px; 
    font-size: 0.95rem;
    font-weight: 600;
    color: var(--pmo-text-white);
    transition: 0.15s ease;
}

.login:hover {
    background: var(--pmo-text-white);
    color: var(--pmo-text-action);
} */

.hero-image {
    max-width: 1515px;
    height: 800px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../image/jovyn-chamb-iWMfiInivp4-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin: 0 auto;
}

.text-content {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



.text-content h1 {
    font-size: 4rem;
    font-weight: 700;
    color: var(--pmo-text-white);
    margin-bottom: 1.5rem;
}

.text-content span {
    color: var(--pmo-accent-primary);
}

.text-content button {
    background: none;
    outline: none;
    font-size: 1.1rem;
    font-weight: 600;
    cursor: pointer;
    padding: 10px 18px;
    border: 2px solid var(--pmo-border);
    color: var(--pmo-text-white);
    font-weight: 600;
    border-radius: 3px;
    transition: 0.15s ease;
}

.text-content button:hover {
    background: var(--pmo-border);
    color: var(--pmo-text-action);
}

/* .responsive-card-wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 1300px;
    width: 90%;
} */

.main {
    padding: 2rem;
}

.content-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: var(--pmo-skyary-color);
    height: 90vh;
    border-radius: 15px;
    padding: 3.5rem 2.5rem;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.05), 0 5px 15px 0 rgba(0, 0, 0, 0.05);
}

.content-main-header {
    flex-grow: 1;
}

.card-gird-main {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    -moz-column-gap: 1.5rem;
         column-gap: 1.5rem;
    row-gap: 1.5rem;
}

.card {
    display: flex;
    flex-direction: column;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.05), 0 5px 15px 0 rgba(0, 0, 0, 0.05);
    background: var(--pmo-text-white);
    border-radius: 15px;
    margin-top: 50px;
    transition: all 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
}

@media(min-width: 1023px) {
    .content-header {
        height: 100%;
        width: 100%;
    }
}

@media(min-width: 667px) {

    .card-gird-main {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(min-width: 1200px) {
    .card-gird-main {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media(max-width: 768px) {
    .content-header {
        flex-direction: column;
        height: 100%;
        width: 100%;
    }
}

.card-gird-header {
    margin: auto;
    padding: 0.95rem 00;
}

.card-gird-header img {
    overflow: hidden;
    border-radius: 15px;
}

.card-gird-header img:hover {
    opacity: 0.60;
}

.card-body-header h1 {
    font-size: 1.1rem;
    font-weight: 600;
    padding-left: 1rem;
}

.card-footer-header div {
    /* margin-right: 0.95rem; */
    font-size: 0.95rem;
    font-weight: 600;
    color: var(--pmo-star-color);
}


.card-body-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.card-footer-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem;
}

.card-footer-header button {
    border: none;
    outline: none;
    background: var(--pmo-blue-color);
    cursor: pointer;
    border-radius: 20px;
    padding: 10px 18px;
    font-size: 0.95rem;
    font-weight: 600;
    color: var(--pmo-text-white);
}

@media(max-width: 768px) {
    .card-gird-header img {
        height: 240px;
    }
}

.container {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container .box-card {
    flex: 1;
    height: 150px;
}

.box-card .place-in {
    display: flex;
    align-items: center;
    /* height: 130px; */
    /* padding: 00 2rem; */
    border-radius: 15px;
    gap: 10px;
}

.place-in p {
    font-size: 1.9rem;
    font-weight: 700;
    color: var(--pmo-text-action);
    padding-top: 15px;
}

.container .content-words P {
    /* padding: 1.5rem 00; */
    font-size: 2rem;
    font-weight: 700;
    color: var(--pmo-text-action);
    padding-top: 40px;
}

.content-words {
    margin: -10px 00;
}

@media(max-width: 1023px) {
    .container {
        flex-direction: column;
        width: 100%;
        margin-bottom: 20px;
    }

    .place-in {
        flex-direction: column;
        width: 100%;
    }

    .place-in h1 {
        text-align: center;
    }

    .content-words {
        flex-direction: column;
        width: 100%;
    }

    .content-words p {
        text-align: center;
    }
}

.place-in h1 {
    font-size: 3.5rem;
    font-weight: 700;
    color: var(--pmo-blue-color);
}

.gellary-content {
    display: flex;
    align-items: center;
    height: 530px;
    background: var(--pmo-skyary-color);
    border-radius: 15px;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.05), 0 5px 15px 0 rgba(0, 0, 0, 0.05);
}

.gellary-card {
    flex: 1;
    height: 400px;
    position: relative;
}

@media(max-width: 1023px) {
    .gellary-content {
        flex-direction: column;
        height: 100%;
        width: 100%;
    }

    .gellary-card {
        width: 100%;
        flex-direction: column;
    }

    .gellary-card .picture {
        margin-top: 30px;
    }

    .gellary-dev h1 {
        text-align: center;
    }
}


.gellary-words {
    display: flex;
    align-items: center;
    height: 120px;
    flex-direction: column;
}

.gellary-words h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--pmo-text-action);
    text-align: center;
    padding-top: 15px;
}

@media(max-width: 768px) {
    .gellary-words {
        flex-direction: column;
        width: 100%;
        height: 100%;
        margin-bottom: 25px;
    }

    .gellary-words h1 {
        text-align: center;
    }
}

.picture {
    height: 370px;
    max-width: 480px;
    background: var(--pmo-blue-color);
    margin: auto;
    display: flex;
    align-items: center;
    border-radius: 15px;
    padding: 1rem 1rem -1rem;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.05), 0 5px 15px 0 rgba(0, 0, 0, 0.05);
}

.gellary-card img {
    position: absolute;
    left: 5%;
    top: 15%;
    height: 350px;
    overflow: hidden;
    object-fit: cover;
    border-radius: 15px;
    /* transform: translate(-1%, 10%); */
    transition: all 0.3s ease;
}

.gellary-card img:hover {
    transform: scale(1.05);
}

.gellary-dev {
    display: flex;
    align-items: center;
    /* margin: auto; */
    padding: 6rem 3rem;
}

.gellary-dev h1 {
    font-size: 2rem;
    font-weight: 600;
    max-width: 550px;
    margin: auto;
    font-family: "be veitnam pro", sans-serif;
}

.gellary-english {
    height: 150px;
    align-items: center;
    display: flex;
}

.gellary-english h1 {
    font-size: 2.5rem;
    font-weight: 700;
    font-family: "be veitnam pro", sans-serif;
    margin: auto;
}

.gellary-one {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../image/crowded-scene-indian-city.jpg); 
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 450px;
    border-radius: 15px;
    position: relative;
    margin-bottom: 100px;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.05), 0 5px 15px 0 rgba(0, 0, 0, 0.05);
}

.form-pop {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.form-pop form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 35px;
}

form .form-feild {
    display: flex;
    align-items: center;
}

.form-feild input {
    background: var(--pmo-text-white);
    height: 40px;
    width: 300px;
    cursor: pointer;
    padding-left: 10px;
    border: 1px solid var(--pmo-skyary-color);
    color: var(--pmo-text-whiteless);
    border-radius: 3px;
    font-size: 0.95rem;
    font-weight: 500;
}

.form .form-feild::placeholder {
    color: var(--pmo-ccc-color);
}

.form-feild > button {
    margin-left: 0.95rem;
}

.form-feild button {
    border: none;
    outline: none;
    cursor: pointer;
    height: 40px;
    padding: 00 18px;
    background: var(--pmo-blue-color);
    font-size: 1rem;
    font-weight: 600;
    color: var(--pmo-text-whiteless);
}

.form-feild button:hover {
    background: var(--pmo-blue-less);
}

@media(max-width: 768px) {
    .gellary-one {
        width: 100%;
        flex-direction: column;
    }

    .gellary-one .form-pop {
        flex-direction: column;
        width: 100%;
    }

    .form-pop form {
        flex-direction: column;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .form-feild {
        width: 100%;
    }
}

.background-img {
    min-height: 70vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../image/sourabh-jhajharia-l6mpG0Pd3Lk-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.backcome-content {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.backcome-content h1 {
    font-size: 4rem;
    font-weight: 700;
    color: var(--pmo-text-white);
    margin-bottom: 1.5rem;
}

.backcome-content button {
    background: none;
    outline: none;
    font-size: 1.1rem;
    font-weight: 600;
    cursor: pointer;
    padding: 10px 18px;
    border: 2px solid var(--pmo-border);
    color: var(--pmo-text-white);
    font-weight: 600;
    border-radius: 3px;
    transition: 0.15s ease;
}

.background-container {
    display: flex;
    align-items: center;
    height: 600px;
    background: var(--pmo-skyary-color);
    border-radius: 15px;
    margin-bottom: 100px;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.05), 0 5px 15px 0 rgba(0, 0, 0, 0.05);
}

.background-content {
    display: flex;
    align-items: center;
    /* height: 200px; */
    justify-content: center;

}

.background-content h1 {
    font-size: 2.5rem;
    font-weight: 700;
    font-family: "be Veitnam Pro", sans-serif;
    padding: 3rem 00;
}

/* @media(min-width: 991px) {
    .background-contact {
        width: 100%;
    }
} */

@media(max-width: 767px) {
    .background-content {
        flex-direction: column;
        width: 100%;
        height: 100%;
        /* justify-content: center; */
    }

    .background-content {
        text-align: center;
    }
}

.background-card {
    flex: 1;
    height: 500px;
    display: flex;
    align-items: center;
}

.color-box {
    margin: auto;
}


.color-box img {
    padding: 10px 10px;
    height: 368px;
    overflow: hidden;
    transition: all 1.3s ease;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.05), 0 5px 15px 0 rgba(0, 0, 0, 0.05);
    background: var(--pmo-text-whiteless);
}

.color-box img:hover {
    border-radius: 00 30% 00 30%;
    transform: scale(1.05);
}

.background-words {
    margin: auto;
}

.background-words h1 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 20px;
}

.background-words p {
    font-size: 1rem;
    font-weight: 500;
    color: var(--pmo-text-action);
    width: 600px;
    max-width: 520px;
    /* word-break: break-all; */
}

.background-one {
    margin: auto;
}

.background-one h1 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 20px; 
}

.background-one p {
    font-size: 1rem;
    font-weight: 500;
    color: var(--pmo-text-action);
    width: 600px;
    max-width: 520px;
    /* word-break: break-all; */
    font-family: "Be Veitnam Pro", sans-serif;
}

.color-lucknow {
    margin: auto;
}

.color-lucknow img {
    padding: 10px 10px;
    height: 368px;
    overflow: hidden;
    transition: all 1.3s ease;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.05), 0 5px 15px 0 rgba(0, 0, 0, 0.05);
    background: var(--pmo-text-whiteless);
}

.color-lucknow img:hover {
    border-radius: 30% 00 30%;
    transform: scale(1.05);
}

@media(max-width: 1023px) {

    .background-container {
        flex-direction: column;
        width: 100%;
        height: 100%;
        padding: 60px;
    }

    .background-words h1 {
        text-align: center;
    }

    .background-words p {
        text-align: center;
        padding: 25px;
    }


    .color-box img {
        height: 300px;
        margin-bottom: 20px;
    }

    .color-lucknow img {
        height: 300px;
    }

    .background-one h1 {
        text-align: center;
    }

    .background-one p {
        margin-bottom: 25px;
        text-align: center;
        padding: 25px;
    }

    /* .background-card {
        width: 100%;
    } */
}


.background-rvier {
    height: 70vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../image/martijn-vonk-wloNuC7qKf8-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-bottom: 40px;
}

.background-about {
    display: flex;
    align-items: center;
    height: 600px;
    /* background: var(--pmo-skyary-color); */
    position: relative;
    margin-bottom: 60px;
}

.about-card {
    flex: 1;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    transition: all 1.3s ease;
}

.about-card:hover {
    border-radius: 00 30% 00 30%;
}

.about-card img {
    overflow: hidden;
    height: 112%;
}

.about-card .about-content {
    max-width: 480px;
    width: 100%;
}

.about-content h1 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 10px;
}

.about-content p {
    font-size: 1rem;
    font-weight: 500;
    color: var(--pmo-text-action);
}

@media(max-width: 1023px) {
    .background-about {
        flex-direction: column;
        width: 100%;
        height: 100%;
        margin-bottom: 70px;
    }

    .boc-body {
        flex-direction: column;
    }

    .boc-body h3 {
        text-align: center;
    }

    .boc-header {
        flex-direction: column;
    }

    .boc-header i {
        text-align: center;
    }

    .about-card {
        width: 100%;
    }

    .about-content {
        width: 100%;
        padding: 30px;
    }

    .about-content h1 {
        text-align: center;
    }

    .about-content p {
        text-align: center;
    }
}

.background-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 400px;
}

.background-box-main {
    flex-grow: 1;
    /* background: var(--pmo-skyary-color); */
}

.background-card-main {
    display: grid;
    grid-template-columns: 1, 1fr;
    -moz-column-gap: 1.5rem;
         column-gap: 1.5rem;
    row-gap: 1.5rem;
}

@media(max-width: 1023px) {
    .background-box {
        height: 100%;
        width: 100%;
        flex-direction: column;
    }
}


@media (min-width: 600px) {
    .background-card-main {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1200px) {
    .background-card-main {
        grid-template-columns: repeat(3, 1fr);
    }
}

.boc {
    display: flex;
    flex-direction: column;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.05), 0 5px 15px 0 rgba(0, 0, 0, 0.05);
    border-radius: 6px;
    background: var(--pmo-skyary-color);
    /* background-color: rgb(210, 198, 198); */
    margin-bottom: 30px;
    transition: all 0.3s ease;
}

.boc:hover {
    transform: scale(1.05);
    background: var(--pmo-blue-less);
    border-radius: 20px;
}

.boc-header {
    display: flex;
    align-items: center;
    padding: 1.5rem 1.5rem;
}

.boc-header i {
    font-size: 2.5rem;
    color: var(--pmo-footer-color);
}

.boc-body {
    display: flex;
    align-items: center;
    padding: 1.5rem 1.5rem;
}

.boc-body h3 {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--pmo-footer-color);
}

footer {
    background: var(--pmo-footer-color);
    border-radius: 6px;
}

.footercontainer {
    width: 100%;
    padding: 70px 30px 20px;
}

.socialicons {
    display: flex;
    justify-content: center;
    margin-bottom: 1.2rem;
}

.socialicons a {
    text-decoration: none;
    padding: 10px;
    margin: 10px;
    border-radius: 50%;
    transition: all 1.3s ease;
    cursor: pointer;
}

.socialicons a i {
    font-size: 1.9rem;
    color: var(--pmo-text-white);
    transition: all 0.3s ease;
}

.socialicons a i:hover {
    transform: scale(1.3);
    color: var(--pmo-blue-less);
}

.footernav {
    padding: 30px 00;
}

.footernav ul {
    display: flex;
    justify-content: center;
    /* gap: 30px; */
}

.footernav li a {
    list-style: none;
    color: var(--pmo-text-white);
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
    margin: 40px;
    transition: 0.15s ease;
}

.footernav li a:hover {
    color: var(--pmo-accent-primary);
}

.footerbottom {
    padding: 15px 00;
    text-align: center;
    /* border-top: 1px solid var(--pmo-text-white); */
}

.footerbottom p {
    color: var(--pmo-text-white);
    font-size: 0.95rem;
    /* padding: 5px 00; */
}

@media(max-width: 700px) {
    ul {
        flex-direction: column;
    }

    .footernav li {
        text-align: center;
        margin: 10px;
        width: 100%;
    }
}

.background-experience {
    display: flex;
    height: 200px;
    width: 100%;
    align-items: center;
    margin-bottom: 20px;
}

@media(max-width: 1023px) {
    .background-experience {
        flex-direction: column;
        width: 100%;
        height: 100%;
        margin-bottom: 40px;
    }

    .background-experi {
        width: 100%;
        flex-direction: column;
    }

    .background-exp  {
        flex-direction: column;
        width: 100%;
    }

    .background-exp p {
        text-align: center;
    }

    .icons-fast {
        flex-direction: column;
        width: 100%;
    }

    .icons-fast p {
        text-align: center;
    }
}

.background-experi {
    flex: 1;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    width: 100%;
    /* gap: 3.5rem; */
}

.background-exp {
    padding: 20px;
}

.background-exp h1 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--pmo-blue-color);
}

.background-exp p {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--pmo-text-action);
    text-align: center;
}

.icons-fast {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 20px;
    margin-left: auto;
}

.icons-fast i {
    font-size: 1.5rem;
    color: var(--pmo-blue-color);
}

.icons-fast p {
    font-size: 1.5rem;
    font-weight: 500;
}

.background-kushinagar{
    min-height: 70vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../image/mitchell-ng-liang-an-s34iTpkwnF0-unsplash.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-bottom: 20px;
}

.background-contact {
    display: flex;
    align-items: center;
    height: 680px;
    width: 100%;
    /* background: var(--pmo-skyary-color); */
}

@media(max-width: 1023px) {
    .background-contact {
        flex-direction: column;
        width: 100%;
        height: 100%;
        margin-bottom: 40px;
    }

}

.background-cont {
    flex: 1;
    display: flex;
    height: 600px;
    width: 100%;
    /* background: var(--pmo-blue-less); */
}

.background-contact h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--pmo-text-action);
    margin: auto;
    padding: 20px;
}

.wrapper {
    width: 100%;
    max-width: 550px;
    padding: 30px;
    border-radius: 5px;
    background-color: var(--pmo-footer-color);
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.05), 0 5px 15px 0 rgba(0, 0, 0, 0.05);
    margin-bottom: 30px;
    margin: auto;
}

.wrapper .title h1 {
    text-align: center;
    margin-bottom: 25px;
    color: var(--pmo-blue-color);
}

.content-form {
    display: flex;
}

.input-feild {
    display: flex;
    flex-direction: column;
    margin-right: 4%;
}

.input-feild,
.msg {
    width: 48%;
}

.input-feild .input, 
.msg textarea {
    margin: 10px 0;
    background: transparent;
    border: 0px;
    border-bottom: 2px solid var(--pmo-blue-color);
    width: 100%;
    color: var(--pmo-text-action);
    padding: 10px;
}

.msg textarea {
    height: 212px;
}

::-webkit-input-placeholder {
    color: var(--pmo-blue-color);
}

:-moz-placeholder {
    color: var(--pmo-blue-color);
}

:-ms-input-placeholder {
    color: var(--pmo-blue-color);
}

.btn {
    background-image: linear-gradient(135deg, #1e91e2 10%, #3ea4ed -100%  );
    cursor: pointer;
    padding: 15px;
    color: var(--pmo-text-white);
    text-align: center;
    border-radius: 5px;
    text-transform: uppercase;
    text-decoration: none;
}

.btn:hover {
    background: var(--pmo-blue-less);
}

@media(max-width: 600px) {
    .content-form {
        flex-direction: column;
        height: 100%;
        width: 100%;
    }

    .msg textarea {
        height: 80px;
    }
    
    .input-feild .input, 
    .msg textarea {
        width: 100%;
}

}

.background-ppp {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 35px;
    padding: 30px;
    height: 200px;
    margin-bottom: 30px;
}

@media(max-width: 1023px) {
    .background-ppp {
        flex-direction: column;
        width: 100%;
        height: 100%;
        margin-bottom: 40px;
    }

    .background-ooo  {
        flex-direction: column;
        width: 100%;
    }

    .background-ooo h1 {
        text-align: center;
    }
}

.background-ooo {
    display: flex;
    align-items: center;
    gap: 10px;

}

.background-ooo i {
    font-size: 1.5rem;
    color: var(--pmo-blue-color);
}

.background-ooo h1  {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--pmo-text-action);
    height: 1.5;
}

.background-cont img {
    height: 90%;
    overflow: hidden;
    margin: auto;
}